<div class="user-container">
  <div class="users-header">
    <h1>Benutzerverwaltung</h1>
    <p class="users-count">{{ (users$ | async)?.length || 0 }} Benutzer</p>
  </div>

  <div class="table-wrapper">
    <table class="users-table" *ngIf="(users$ | async)?.length">
      <thead>
        <tr>
          <th class="col-name">Name</th>
          <th class="col-address">Adresse</th>
          <th class="col-email">E-Mail</th>
          <th class="col-actions">Aktionen</th>
        </tr>
      </thead>
      <tbody>
        <tr class="user-row" *ngFor="let user of users$ | async">
          <td class="col-name" (click)="viewUserById(user)">
            <strong>{{ user.vorname }} {{ user.nachname }}</strong>
          </td>
          <td class="col-address" (click)="viewUserById(user)">
            {{ user.strasse }}, {{ user.plz }} {{ user.ort }}
          </td>
          <td class="col-email" (click)="viewUserById(user)">
            {{ user.email }}
          </td>
          <td class="col-actions">
            <button mat-icon-button (click)="editUserById($event, user)" matTooltip="Bearbeiten" class="btn-edit">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteUserById($event, user)" matTooltip="Löschen" class="btn-delete">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="!(users$ | async)?.length" class="no-users">
      <mat-icon class="empty-icon">person_off</mat-icon>
      <p>Keine Benutzer vorhanden</p>
      <p class="empty-hint">Erstelle einen neuen Benutzer mit dem + Button</p>
    </div>
  </div>

  <button class="fab-button" matTooltip="Benutzer hinzufügen" mat-fab color="primary" (click)="createUser()">
    <mat-icon>add</mat-icon>
  </button>
</div>
