@use '@angular/material' as mat;

@include mat.core();

$crm-light-blue: mat.define-palette(mat.$light-blue-palette, 500, 400, 600);
$crm-grey-blue: mat.define-palette(mat.$blue-grey-palette, 600, 500, 500);

$crm-theme: mat.define-light-theme((
  color: (
    primary: $crm-light-blue,
    accent: $crm-grey-blue,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($crm-theme);

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
